<!-- The header and the navigation bar -->
<header>
    <h3><center>CUHK SEEM</center></h3>
    <h3><center>Dysarthric Speech Recognition</center></h3>
    <h4><br></h4>
    <h4><center><a href="https://www.isca-speech.org/archive/Interspeech_2019/pdfs/8047.pdf"> The CUHK Dysarthric Speech Recognition Systems for English and Cantonese </center></a></h4>
    <h4><center><a href="https://www.isca-speech.org/archive/Interspeech_2019/pdfs/1536.pdf"> Exploiting Visual Features using Bayesian Gated Neural Networks for Disordered Speech Recognition  </center></a></h4>
</header>


<nav>
    <div>
        <a href="./M14B2M3.html">Demo 1</a>
    </div>
    <div>
        <a href="./F04B2M3.html">Demo 2</a>
    </div>
    <div>
        <a href="./M12B2M3.html">Demo 3</a>
    </div>
</nav>
